<ion-content padding class="backgound-red">
    <!-- <div tex-center class="logo" center style="align-items: center; align-content: center">
        <img src="{{imgSrc}}" id="imgPlacement">
    </div> -->
    <section class="home-container">

        <div class="row row-center">
            <div class="col text-center">
                <img alt="Logo" height="100" src="{{imgSrc}}">
            </div>
        </div>
        <div class="row icon-row">
        </div>
    </section>
    <form class="login-form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <ion-item>
            <ion-label floating>Correo Electronico</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <button ion-button color="secondary" type="submit">login</button>
    </form>
</ion-content>