page-login {
    .login-form {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 40%;
    }
    img {
        height: 30vh !important;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .home-container .row-center img {
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        margin: 0 auto;
    }
}